# Environment variable overrides for local development
FLASK_APP=autoapp.py
FLASK_DEBUG=1
FLASK_ENV=development
DATABASE_URL=sqlite:///dev.db
GUNICORN_WORKERS=1
LOG_LEVEL=debug
SECRET_KEY=not-so-secret
SECURITY_PASSWORD_SALT=so-damn-salty
# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0

#reCAPTCHA
RECAPTCHA_SITE_KEY = '6LcZMXkiAAAAAKEhkarCNv8sGo7sUtDS-MJWTF_7'
RECAPTCHA_SECRET_KEY = '6LcZMXkiAAAAAHcbAKFSy35X193roucD_2YCLG-_'
RECAPTCHA_VERIFY_URL = 'https://www.google.com/recaptcha/api/siteverify'


#Flask-GMail
MAIL_DEFAULT_SENDER = '2020projectconfig@gmail.com'