{% extends "layout.html" %} {% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to opencert</h1>
    <p>
      The Open Certificate Authority is a free and open source certificate
      authority.
    </p>
  </div>
</div>
<!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Arawana Open Certificate</h2>
      <p>
        We seek to solve issues of trust and transparency in the digital world
        by providing a way to verify the authenticity of digital documents.
        Using blockchain technology, we can provide a way to verify the
        authenticity of digital documents.
      </p>
      <p>
        <a class="btn btn-outline-secondary" href="http://getbootstrap.com/"
          >Official website &raquo;</a
        >
      </p>
    </div>
  </div>
  <!-- /.row -->
</div>
{% endblock %}
