{% extends "layout.html" %} {% block content %}
<script src="{{url_for('static', filename='recaptcha.js')}}"></script>
<div class="container-narrow">
  <h1 class="mt-5">Login</h1>
  <br />
  <form
    id="LoginForm"
    class="form form-login"
    method="POST"
    action=""
    role="form"
  >
    {{ form.csrf_token }}
    <div class="form-group">
      {{form.username.label}} {{form.username(placeholder="Username",
      class_="form-control")}}
    </div>
    <div class="form-group">
      {{form.password.label}} {{form.password(placeholder="Password",
      class_="form-control")}}
    </div>
    <div class="form-group">
      {{form.token.label}} {{form.token(placeholder="OTP Token",
      class_="form-control")}}
    </div>
    <button id="btn" class="g-recaptcha btn btn-primary" data-sitekey="{{ site_key }}" type="submit" data-callback='onSubmit' data-action='submit'>Login</button>
  </form>
  <p><em>Forgot your password? Click </em><a href="{{ url_for('user.forget_password') }}">here</a>.</p>
  <p><em>Account not activated? Check your junk or spam folders or Click</em> <a href="{{ url_for('email.unconfirmed') }}">here</a>.</p>
</div>

{% endblock %}
