{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">Mint Arowana Certificate</h1>
  <h2 class="mt-5"> Step 1</h2><br/>
    <form id="MintingForm1" class="form form-minting" method="POST" action="" enctype="multipart/form-data">
      <h5 class="mt-2">Certificate Image Upload</h5>
      <div class="input-group">
        <input type="file" class="form-control" id="file" name="file" aria-describedby="inputGroupFileAddon04" aria-label="Upload"> 
        <div class="input-group">
      </div><br>
      <div class="form-group">
      <button type="submit" class="btn btn-primary">Upload Image</button>
      </div>
    </form>
</div>
{% endblock %}
